@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    background: rgb(48, 81, 173);
}

.wrapper{
    width: 370px;
    border-radius: 7px;
    padding: 25px 30px;
    background: rgb(231, 178, 78);
}

.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
